<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mit Dance Website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- <header> -->
       <nav id="navbar">
           <ul>
            <div id="logo">
                <img src="/static/images.png">
                <h3>MDA</h3>
               <li><a href="/">Home</a></li>
               <li><a href="/">About</a></li>
               <li><a href="/">Services</a></li>
               <!-- <li><a href="/">Class info</a></li> -->
               <li><a href="/">Contact</a></li>
           </ul>
       </nav>

    <!-- </header> -->

    <!-- contact page content  -->
    <h1>Contact us</h1>

    <footer id="footer">
        <h2>Copiright © 2020 MitDanceAcademy.com | All right reserved</h2>
    </footer>
    </body>
    </html>