<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mit Dance Website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <!-- <header> -->
    <header id="header">
        <nav id="navbar">
            <ul>
                <div id="logo">
                    <img src="/static/images.png">
                    <h3>MDA</h3>
                </div>
                <li a href="/">Home</li>
                <li a href="/">About</li>
                <li a href="/">Services</li>
                <li a href="/">Class info</li>
                <li a href="/">Contact us</li>
            </ul>
        </nav>
    </header>
    <!-- </header> -->

    <!-- main site -->
    <section id="introsection">
        <div>
            Welcome to Mit Dance Academy
        </div>
        <div class="small">
            Eat Sleep Dance Repeat
        </div>
    </section>

    <section id="missionsection">
        <h2>Our Mission</h2>
        <div class="card">
            <h3>Dance Perfection</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/images.jpg">
                </div>
                <div class="card-content">
                    <p>This is the best dance academy of the universe.</p>
                </div>
            </div>
        </div>

        <div class="card">
            <h3>Dance the way you like</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/images1.jpg"">
                </div>
                <div class=" card-content">
                    <p>This is the best dance academy of the universe.</p>
                </div>
            </div>
        </div>

        <div class="card">
            <h3>Dance Teaching Experts</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/download6.jpg">
                </div>
                <div class="card-content">
                    <p>This is the best dance academy of the universe.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsersection">
        <h2>Our Sposners</h2>
        <div id="sponser">
            <img src="/static/images13.jpg">
            <img src="/static/images14.jpg">
            <img src="/static/images15.jpg">
            <img src="/static/images13.jpg">

        </div>
    </section>
    <!-- / main site -->


    <!-- <footer> -->

    <footer id="footer">
        <p>
            Copiright © 2020 MitDanceAcademy.com | All right reserved
        </p>

    </footer>
</body>

</html>
<!-- </footer> -->