<!-- include header -->
<%- include('include/_header')%>

    <!-- /include header  -->

    <!-- main site -->
    <section id="introsection">
        <div>
            Welcome to Mit Dance Academy
        </div>
        <div class="small">
            Eat Sleep Dance Repeat
        </div>
    </section>

    <section id="missionsection">
        <h2>Our Mission</h2>
        <div class="card">
            <h3>Dance Perfection</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/images.jpg">
                </div>
                <div class="card-content">
                    <p>This is the best dance academy of the universe.</p>
                </div>
            </div>
        </div>

        <div class="card">
            <h3>Dance the way you like</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/images1.jpg"">
            </div>
            <div class=" card-content">
                    <p>This is the best dance academy of the universe.</p>
                </div>
            </div>
        </div>

        <div class="card">
            <h3>Dance Teaching Experts</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/download6.jpg">
                </div>
                <div class="card-content">
                    <p>This is the best dance academy of the universe.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsersection">
        <h2>Our Sposners</h2>
        <div id="sponser">
            <img src="/static/images13.jpg">
            <img src="/static/images14.jpg">
            <img src="/static/images15.jpg">
            <img src="/static/images13.jpg">

        </div>
    </section>
    <!-- / main site -->


    <!-- include footer -->
    <%- include('include/_footer')%>
        <!-- /include footer  -->